.row
  .col-md-12
    %ul.list-group
      %li.list-group-item
        = t("simple_form.labels.auth.resource.password")
        %code.pull-right= resource.password
    = link_to t("simple_form.labels.auth.redirect_url"), resource.auth.redirect_url, class: 'btn btn-info'
