= content_for :title, "Dashboard"
%section.content-header
  %h1= yield(:title)

  - navigation_add 'Dashboard', adm_root_path
  = render_navigation

%section.content
  .box.box-solid
    .box-header Dashboard
    .box-body= request.original_url
