- if @auths.resource_like(Auth::ALTERNATIVE[:password].capitalize).any?
  = form_tag("/wifi/#{@place.slug}/by_password?step=#{get_step}", id: 'manual', method: 'post', class: 'password_form') do
    %input{ name: "password", placeholder: "#{t('wifi.password_placeholder')}", required: "", type: "password" }/
    %input{ type: "submit" }/
