.socials
  - auths.each do |auth|
    - if auth.network?
      = link_to network_path(place, auth), class: 'wifi_link' do
        - icon = place.style.try("#{auth.name}_icon")
        = image_tag icon.try(:present?) ? icon.url : "wifi/#{auth.name}.png"
