.socials
  - auths.each do |auth|
    - if auth.network? # && auth.approved?
      = link_to network_path(place, auth), class: 'wifi_link' do
        - icon = place.social_network_icons.find_by(social_network: SocialNetwork.by_name(auth.name))
        = image_tag icon ? icon.icon.url : "wifi/#{auth.name}.png"
