- if auths.resource_like(Auth::ALTERNATIVE[:simple].capitalize).any?
  %br
  = link_to t('wifi.simple_enter'), "/wifi/#{place.slug}/simple_enter", class: 'btn btn-primary btn-lg', style: 'margin-top: 14px;'
