= content_for :title, t('models.banners.actions.new.title')

.row
  .col-sm-6.col-sm-offset-3
    %h1= t('models.banners.actions.new.title')

    = render 'form'

    = link_to t('models.banners.navigation.back'), place_banners_path(@place), class: 'btn btn-default'
