%nav.nav-inner-custom
  %ul.nav.nav-justified
    %li= link_to t('navigation.dashboard.statistic'), place_path(@place)
    %li
      %a{:href => "settings.html"} Настройка
    %li= link_to t('navigation.dashboard.guests'), guests_place_path(@place)
    %li
      %a{:href => "birthdays.html"} Дни рождения
