%nav.nav-inner-custom
  %ul.nav.nav-justified
    %li
      %a{:href => "statistics.html"} Статистика
    %li
      %a{:href => "settings.html"} Настройка
    %li
      %a{:href => "#"} Программа лояльности
    %li
      %a{:href => "guests.html"} Постоянные гости
    %li
      %a{:href => "birthdays.html"} Дни рождения
