%nav.nav-inner-custom
  %ul.nav.nav-justified
    %li= link_to t('navigation.dashboard.statistic'), place_path(@place)
    %li
      %a{:href => "settings.html"} Настройка
    %li
      %a{:href => "#"} Программа лояльности
    %li
      %a{:href => "guests.html"} Постоянные гости
    %li
      %a{:href => "birthdays.html"} Дни рождения
