%p#notice= notice

%p
  %b Content:
  = @answer.content


= link_to 'Edit', edit_place_poll_answer_path(id: @answer.id, poll_id: @poll.id, place_id: @place.slug)
\|
= link_to 'Back', place_poll_answers_path(@place, @poll)
