
h1 {
  text-align: center;
}

p {
  text-align: center;
}

.button {
  margin-top: 50px;
  margin-bottom: 25px;
}


.vk-frame {
  position: relative;
  padding-left: 250px;
}


.vk-pic {
  position: absolute;
  top: 85px;
  left: 50%;
  margin-left: -260px;
  width: 520px;
  height: 310px;
}




  // tablets < 1000px

@media only screen and (max-width: 1110px) {
  .vk-frame {
    padding-left: 5%;
  }
}

 // tablets-vertical < 765px
@media only screen and (max-width: 765px) {
  .vk-frame {
    margin-right: 5%;
  }
  .vk-pic {
    padding-left: 5%;
  }
}

 // mobile < 600px

@media only screen and (max-width: 600px) {
  .vk-frame {
    padding-left: 0px;
  }
  .frame {
    width: 100%;
  }
  .vk-pic {
    top: 100px;
    left: 50%;
    margin-left: -200px;
    max-width:80%;
    height: 230px;

  }
}


 // mobile < 500px

@media only screen and (max-width: 500px) {
  .vk-frame {
    padding-left: 0px;
  }
  .frame {
    width: 100%
  }
  .vk-pic {
    top: 50px;
    left: 50%;
    margin-left: -180px;
    max-width: 70%;
    height: 230px;
  }
}