

.vk-image {
  width: 540px;
  height: 355px;
  border-top: 1.5px solid #DAE1E8;
  border-bottom: 1.5px solid #DAE1E8;
}

.timestamps {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  color: #999;
  padding-left: 8px;
  padding-top: 15px;
}

.like {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  color: #2F5879;
  position: absolute;
  padding-left: 465px;
  padding-bottom: 5px;
}
