= content_for :page_stylesheet, 'dashboard/statistic'
= content_for :page_javascript, 'dashboard/statistic'
= content_for :title, t("statistic.loyalty.title")


%table.table


.row.analysis
  - @items.each do |item|
    = render 'analysis', item: item
