= content_for :page_stylesheet, 'dashboard/settings'
= content_for :title, t("models.auth.actions.edit.title")

.row
  .col-sm-4
    %h1  t("models.auth.actions.edit.title").capitalize

    = render 'form', auth: @auth, place: @place, save_method: :resource
