= content_for :page_stylesheet, 'dashboard/settings'
= content_for :title, t("models.auths.actions.new.title")

.row
  .col-sm-4
    %h1 New auth

    = render 'form', auth: @auth, place: @place, save_method: :method
