.container
  .row

    / VK post

    %p= @message.message
    .twitter-image{:class => 'twitter-image'}
      =image_tag @message.image
    .timestamps{:class => 'timestamps'}
    .comment{:class => 'comment'}
      .comment
    .retweet{:class => 'retweet'}
      .retweet-icon
    .favouite{:class => 'favourite'}
      .favourite
