.container
  .row

    / TW post

    .twitter-frame{:class => 'twitter-frame'}
      =image_tag('twitter-frame.png', :class => 'twitter-frame')
      =image_tag @message.image, :class => 'twitter-pic'
