.container
  .row

    / VK post

    %p= @message.message
    .vk-image{:class => 'vk-image'}
      =image_tag @message.image
    .timestamps{:class => 'timestamps'} 2 минуты назад | Ответить
    .like{:class => 'like'}
      Мне нравится
      .heart