.adm_place_password, .facebook, .vkontakte, .twitter, .instagram_subscription {
  display: none
}

.content-flash {
  padding: 5px 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
