html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: exo2; /* Имя шрифта */
    src: url('../assets/Exo2-Thin.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: bliss; /* Имя шрифта */
    src: url('../assets/BlissPro-Regular.otf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: exo2r; /* Имя шрифта */
    src: url('../assets/Exo2-Regular.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: exo2l; /* Имя шрифта */
    src: url('../assets/Exo2-Light.ttf'); /* Путь к файлу со шрифтом */
}



.clear {
    clear: both;
}

header {

    height:636px;
      position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
}

.background_window{
      position: absolute;
  top: 0;
  left: 0;
    background: url('../assets/back1.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.main_page_content {
  background: white;
  margin-bottom: 440px;
  float: left;
  width: 100%;
}

.navbar-default {
    background: none !important;
    border:none;
    box-shadow: none;
    margin-top:23px;
}

.navbar {
    border:none
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(7,203,160,0.8);
    background-image: none;
}

.navv>li {
    position: relative;
    display: block;
    background-color: rgba(94,93,172,0.8) !important;
    font-family: exo2;
    color: #fff;
}

.navv>li>a {
    color: #fff !important;
}


.navbar-brand, .navbar-nav>li>a {
    text-shadow: none
}

@media (min-width: 768px) {
.inside {
    margin-left:20px;
}

}


@media (max-width: 768px) {
    .logo img {
        width:90%;
    }
    .social_icons img {
        width:70%;
    }
    .iphone {
        display:none;
    }
    .iphone_hand img {
        width:92%;
        margin-left:20%;
    }

    .text_info {
        width:100% !important;
        line-height:50%;
        max-height: 100hv;
    }

    .text_info p {
        width:90% !important;
    }

    .work_green h2 {
        margin-top: 11px !important;
    }
}

@media (max-width: 550px) {
    .logo img {
        width:60%;
    }
}

@media (max-width: 650px) {
    .logo img {
        width:70%;
    }
}

.logo {
    text-align: center;
    margin-top: 73px;
}

.logo img {
  margin-top: 10vh;
}

.background_window_all {
    background: url('../assets/back23.png') no-repeat center;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
}

.people_say {
    background: url('../assets/back2.png') center no-repeat;
    background-size: cover;
    padding-bottom: 73px;
}

.say_social {
  width: 100%;

}

.say_social h2 {
    font-family: bliss;
  font-size: 29pt;
  margin-top: 34px;
  text-align: center;
}

.social_icons {
    padding-top: 45px;
    text-align: center;
}

.social_icons img {
    padding: 15px 0;
}

.say_people img {
    width:100%;
    height: 100%;
}

.say_people  .col-md-4{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.say_people {
    padding-top:50px;
    margin-top: 50px;
  max-width: 1140px;
  margin: auto;
}

.collapse.in {
  display: block;
  position: absolute;
  width: 100%;
}

.collapsing  {
  display: block;
  position: absolute;
  width: 100%;
}

.background_window_work {
    background: #fbf9f9;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
}

.work_green {
    background: #07cba0;
    height:100px;

}

.work_green h2 {
    color:#ffffff;
    font-family:exo2r;
    font-size: 29pt;
      text-align: center;
  margin-top: 27px;
}

.nav-tabs li a{
    width:16px;
    height:16px;
    background: #374049;
    border-radius: 40px;
    padding:0px 0px;
    text-align: center;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #5d5eac;
    border: 0px;
    border-bottom-color: #5d5eac;
}

.nav-tabs {
    border-bottom: none;
}

.tab-pane {
    margin-top:52px;
}


.tab-pane .iphone_hand {
    z-index:2;
}

.text_info {
    background: #ffffff;
    width:430px;
    z-index:1
}


.text_info p {
  font-family: exo2l;
  color: #333333;
  text-align: center;
  line-height: 27px;
  width: 60%;
  margin: auto;
  padding-top: 29px;
}

.nav-tabs {
    margin-left: 42%;
    padding-top: 17px;
}

.nav-tabs>li {
      margin-left: 7px;
}

.nav-tabs>li:first-child {
      margin-left: 0px;
}


.top_bg_news {
    height:90px;
    background: url('../assets/back4.png') no-repeat center;
    background-size:cover;
    margin-bottom:25px;
}

.block1_top {
    height:150px;
    width:100%;
    background: #792fb2;
}

.block1_top img {
    margin-left: 40%;
    margin-top:45px;
}

.top2 {
    background: #08b58e;
}

.top3 {
    background: #5d5eac;
}

.block_bottom {
    background: #1a1f22;
    height:325px;
}

.block_bottom h3 {
    color:#0cb38d;
    width:100%;
    text-align:center;
    font-family:exo2r;
    height:100px;
    padding-top:35px;
    font-size:25px;
}

.block_bottom p {
    text-align:center;
    font-family:exo2l;
    color:#fff;
    font-size:16px;
    width: 250px;
    margin: auto;
}

.bottom_block {
    margin-top:75px;
      padding-bottom: 50px;
}

.block_left {
    background: url('../assets/flat_people.png') no-repeat;
    height: 510px;
}


footer {
    background: url('../assets/footer.png') no-repeat center;
    background-size:cover;
}

.right img {
    float:right;
    margin-top:30px;
}

.left {
    margin-top:15px;
    font-family: exo2r;
}

.left p {
    color:#2d2d2c;
    font-size:20px;
    line-height:30px;
}

.block_left h3 {
    color:#383a39;
    font-size:35px;
    font-family: exo2r;
    text-align: center;
    padding: 11px 0;
    background-color: rgba(225,225,225,0.8);
}

.block_right input {
    display: block;
    border: 2px solid #9a46da;
    border-radius: 3px;
    height:30px;
    width:265px;
    margin-top:25px;
    padding-left:10px;
    font-family: exo2r;
    color:black
}

.block_right input:last-child {
    background: #07cba0;
    border:none;
    color:#fff;
    font-family: exo2r;
}

.block_right input::-ms-value {
    color: #ffffff;
}

.block_right form {
      margin-left: 145px;
}

.seven {
  margin-left: -98px;
}

.seven span {
    color: #689fc8;
  font-family: exo2r;
  font-size: 36px;
  position: relative;
  left: 29px;

}

.go_arrow {
    position: absolute;
    top: 37%;
    left: 85%;
    z-index: 999;

}

.go_arrow img {
    width:120px;
    height:120px;
}

.block1 {
      padding-bottom: 15px;
}

.block_right form{
    padding-bottom: 39px;
}

@media (max-width: 992px) {
    .coll {
          text-align: center;
    }

    .go_arrow1 {
        top: 91%;
        left: 42%;
    }

    .go_arrow2 {
        top: 37%;
         left: 83%;
    }

    .seven {
    padding-top: 35px;
    margin-left:0px;
}

    .seven span {
        top:0px;
        left:0px;
    }
    .sh3 {
          border-top-right-radius: 0px !important;
    }
    .sh1 {
          border-bottom-left-radius: 0px;
    }

}

@media (max-width: 768px) {
    .say_people .col-md-4 {
       text-align: center;
    }

    .go_arrow {
      left: 30%;
      top: 0;
      margin-top: 58%;
    }
    .block_right form {
        margin-left:0px;
    }

}

@media (max-width: 460px) {

}







@media screen and (min-device-width: 500px) and (max-device-width: 768px){
    .go_arrow {
    left: 41%;
  top: 0;
  margin-top: 68%;
    }
}

@media (max-width: 500px) {

    .go_arrow {
  margin-left: 39%;
  top: 0;
  margin-top: 67%;
  left: 0;
    }
}

@media (max-width: 420px) {

.go_arrow {
  margin-left: 36%;
  top: 0;
  margin-top: 64%;
  left: 0;

}
}

@media (max-width: 360px) {

    .go_arrow {
  margin-left: 33%;
  top: 0;
  margin-top: 62%;
  left: 0;

    }
}



@media (max-width: 340px) {

    .go_arrow {
      margin-left: 26%;
      top: 0;
      margin-top: 59%;
      left: 0;
    }
}


.sticky {
  position: fixed;
  float: right;
  width: 100%;
  left: 0;
  top: 0;
  margin:0px;
}

.sticky .navbar-collapse {
    max-width: 1140px;
    margin:auto;
}



.sh1 {
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
  box-shadow: -1px 3px 64px 6px rgba(0,0,0,0.6);
}

.sh2 {
   box-shadow: -1px 3px 64px 6px rgba(0,0,0,0.6);
}

.sh3 {
  border-top-right-radius: 34px;
  border-bottom-right-radius: 34px;
  box-shadow: -1px 3px 64px 6px rgba(0,0,0,0.6);
}
