@import 'bootstrap';

body, html {
  min-height: 300px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-height: 300px) {
  html {
    overflow-y: scroll !important;
  }
  #offer {
    display: none;
  }
  footer {
    position: static !important;
    height: 18px;
  }
}

#content {
  width: 100%;
  height: 63vh;
  min-height: 280px;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.84);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.84);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.84);

  background: rgba(155,69,218,0.4);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWI0NWRhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjNWU1ZGFjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjglIiBzdG9wLWNvbG9yPSIjNjg5ZmM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA3Y2JhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgba(155,69,218,0.4) 0%, rgba(94,93,172,0.4) 39%, rgba(104,159,200,0.4) 68%, rgba(7,203,160,0.4) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(155,69,218,0.4)), color-stop(39%,rgba(94,93,172,0.4)), color-stop(68%,rgba(104,159,200,0.4)), color-stop(100%,rgba(7,203,160,0.4)));
  background: -webkit-linear-gradient(-45deg, rgba(155,69,218,0.4) 0%,rgba(94,93,172,0.4) 39%,rgba(104,159,200,0.4) 68%,rgba(7,203,160,0.4) 100%);
  background: -o-linear-gradient(-45deg, rgba(155,69,218,0.4) 0%,rgba(94,93,172,0.4) 39%,rgba(104,159,200,0.4) 68%,rgba(7,203,160,0.4) 100%);
  background: -ms-linear-gradient(-45deg, rgba(155,69,218,0.4) 0%,rgba(94,93,172,0.4) 39%,rgba(104,159,200,0.4) 68%,rgba(7,203,160,0.4) 100%);
  background: linear-gradient(135deg, rgba(155,69,218,0.4) 0%,rgba(94,93,172,0.4) 39%,rgba(104,159,200,0.4) 68%,rgba(7,203,160,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b45da', endColorstr='#07cba0',GradientType=1 );
}

#content .inner {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
}

#content img {
  margin: 12px 8px;
}

#content .logo {
  margin-bottom: 12px;
}

@media only screen and (max-device-height: 480px) {
  #content {
    height: 280px !important;
    height: 80vh !important;
  }
  #offer {
    height: 96px !important;
    height: 20vh !important;
  }
}

@media only screen and (max-height: 350px) {
  #content {
    height: 280px !important;
  }
  #offer .inner {
    display: none;
  }
}

#content p {
  font-size: 13.68px;
  line-height: 24px;
  margin: 0;
  color: #000;
}

#content .description {
  width: 260px;
  font-size: 13.68px;
  line-height: 24px;
  margin: auto;
  color: #000;
}

#content input[type=password] {
  font-size: 12px;
  padding: 8px 16px;
  padding-right: 36px;
  width: 200px;
  border-radius: 4px;
  border: none;
}

#content input[type=submit] {
  position: absolute;
  border: none;
  background: image-url('submit.png') no-repeat center;
  width: 27px;
  height: 24px;
  margin-left: -32px;
  margin-top: 4px;
}


#offer {
  width: 100%;
  height: 37vh;
  position: relative;
  text-align: center;
  overflow: hidden;
  background: image-url('offerback.png') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#offer .inner {
  width: 100%;
  height: inherit;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-device-height: 343px) {
  #offer .inner {
    display: none;
  }
  footer p:first-child {
    float: left;
    padding-left: 12px;
  }
  footer p:last-child {
    float: right;
    padding-right: 12px;
  }
}

#offer .splash {
  position: absolute;
  background: #07cba0;
  width: 15vh;
  height: 15vh;
  top: 5vh;
  left: 50%;
  margin-left: 10vh;
  border-radius: 100%;
}

#offer .splash p {
  line-height: normal;
  font-size: 3vh;
  color: #fff;
  margin: 0;
}

#offer .splash p:first-child {
  font-size: 4.5vh;
  color: #9b45da;
}

#offer img {
  height: inherit;
  display: inline-block;
  max-width: 100%;
}

footer {
  background: #383f49;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-device-width: 768px) {
  footer {
    background: rgba(0, 0, 0, 0.5);
  }
}

footer p, footer a, footer a:hover, footer a:active, footer a:focus {
  color: #fff;
  line-height: 1.6;
  margin: 0;
}

footer p {
  font-size: 11px;
}

footer a {
  font-size: 9px;
  text-decoration: underline;
}

#content .inner > img {
	height: 18vh;
	min-height: 60px;
	margin: 0px 0px 12px;
}
