= content_for :title, t('models.categories.actions.new.title')
= content_for :navigation, 'false'

.row
  .col-sm-6.col-sm-offset-3
    %h1= t('models.categories.actions.new.title')

    = render 'form'