%h1.scr-header= "Scratch to win !"

-# = image_tag( @menu_item.image.url, class: "img-responsive img-rounded" )
#scratchpad
= link_to "Ready !", succeed_scratch_path(@place, @auth), class: "btn scr-button"
