.row
  .col-sm-8
    Message:
    .panel.panel-default
      .panel-body
        = resource.message
        %br
        = link_to resource.message_url, resource.message_url
    = link_to 'Redirect after auth', resource.auth.redirect_url, class: 'btn btn-info'

  .col-sm-4
    = image_tag resource.image.url, class: 'img-responsive' if resource.image
