%ul.sidebar-menu
  %li.header MENU
  %li{:class => active_menu('dashboard') }
    %a{:href => adm_root_path }
      %span Dashboard
  %li{:class => active_menu('users') }
    %a{:href => adm_users_path }
      %span Users
  %li{:class => active_menu('users') }
    %a{:href => adm_places_path }
      %span Places
  %li{:class => active_menu('sidekiq') }
    %a{:href => sidekiq_web_path }
      %span Sidekiq Monitoring
