%body
  .container
    .vertical-center-row
      .col-md-2-lg-1

      = link_to t(".accept"), auth_url(@auth, @place), class: 'btn btn-md btn-default btn-success btn-block'
      = render @provider_name, resource: @auth.resource
      = link_to t(".reject"), gowifi_place_path, class: 'btn btn-md center-block'
