#modal {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalcontent {
    margin: 0 auto;
    height: auto;
    width: auto;
    max-height: 360px;
    max-width: 480px;
}

#close-banner {
    visibility: hidden;
}

#countdown {
    visibility: hidden;
    color: #fff;
}