= content_for :page_stylesheet, 'statistics'
= content_for :navigation, 'false'

= render 'shared/visits_table', visits: @visits
%hr
%h2 Статистика по заведениям
= render 'places_visits_table', places: @places
