= content_for :page_javascript, 'dashboard/input_binding'
= content_for :title, t('models.places.actions.edit.title', place_name: @place.name)

.row
  .col-sm-4
    %h1= t('models.places.actions.edit.title', place_name: @place.name)

    = render 'form'
